Assets/DataFlows/jing-ice-cdc-version-2.json
{"snapshotMetadata":{"bucketIdentifier":null,"flowIdentifier":"33f34eb6-7226-48d4-b231-e74547dbcccd","version":0,"timestamp":1703866084742,"author":null,"comments":null,"link":null},"flowContents":{"identifier":"7b3d042f-c4a7-4207-bd65-193fab937437","instanceIdentifier":null,"name":"jing-ice-cdc","comments":null,"position":null,"processGroups":[{"identifier":"b6d280ea-6ce8-4f0b-b157-a9a2ec1a3e72","instanceIdentifier":null,"name":"Get Change Data Capture Data","comments":null,"position":{"x":-169.1481839786419,"y":75.32160439594995},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f530bb82-324b-4a98-867e-c90611109044","instanceIdentifier":null,"name":"SplitJson","comments":"","position":{"x":511.0,"y":27.5},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b6d280ea-6ce8-4f0b-b157-a9a2ec1a3e72"},{"identifier":"61d3f215-8afc-498a-ae69-7bb484b1d458","instanceIdentifier":null,"name":"GenerateFlowFile","comments":"","position":{"x":-64.0,"y":31.5},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"character-set":"UTF-8","File Size":"0B","generate-ff-custom-text":"[\n{\n  \"schema\": {\n    \"type\": \"struct\",\n    \"fields\": [\n      {\n        \"type\": \"struct\",\n        \"fields\": [\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"code\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"description\"\n          }\n        ],\n        \"optional\": true,\n        \"name\": \"dbserver1.airline_logistics.airlines.Value\",\n        \"field\": \"before\"\n      },\n      {\n        \"type\": \"struct\",\n        \"fields\": [\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"code\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"description\"\n          }\n        ],\n        \"optional\": true,\n        \"name\": \"dbserver1.airline_logistics.airlines.Value\",\n        \"field\": \"after\"\n      },\n      {\n        \"type\": \"struct\",\n        \"fields\": [\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"version\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"name\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": false,\n            \"field\": \"server_id\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": false,\n            \"field\": \"ts_sec\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"gtid\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"file\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": false,\n            \"field\": \"pos\"\n          },\n          {\n            \"type\": \"int32\",\n            \"optional\": false,\n            \"field\": \"row\"\n          },\n          {\n            \"type\": \"boolean\",\n            \"optional\": true,\n            \"field\": \"snapshot\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": true,\n            \"field\": \"thread\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"db\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"table\"\n          }\n        ],\n        \"optional\": false,\n        \"name\": \"io.debezium.connector.mysql.Source\",\n        \"field\": \"source\"\n      },\n      {\n        \"type\": \"string\",\n        \"optional\": false,\n        \"field\": \"op\"\n      },\n      {\n        \"type\": \"int64\",\n        \"optional\": true,\n        \"field\": \"ts_ms\"\n      }\n    ],\n    \"optional\": false,\n    \"name\": \"dbserver1.airline_logistics.airlines.Envelope\",\n    \"version\": 1\n  },\n  \"payload\": {\n    \"before\": {\n      \"code\": \"02Q\",\n      \"description\": \"Titan Airways\"\n    },\n    \"after\": {\n      \"code\": \"02Q\",\n      \"description\": \"Adrenaline Airways\"\n    },\n    \"source\": {\n      \"version\": \"2.5.0.Final\",\n      \"name\": \"dbserver1\",\n      \"server_id\": 0,\n      \"ts_sec\": 0,\n      \"gtid\": null,\n      \"file\": \"mysql-bin.000003\",\n      \"pos\": 124,\n      \"row\": 0,\n      \"snapshot\": true,\n      \"thread\": null,\n      \"db\": \"airline_logistics\",\n      \"table\": \"airlines\"\n    },\n    \"op\": \"u\",\n    \"ts_ms\": 1486500577291\n  }\n},\n{\n  \"schema\": {\n    \"type\": \"struct\",\n    \"fields\": [\n      {\n        \"type\": \"struct\",\n        \"fields\": [\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"code\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"description\"\n          }\n        ],\n        \"optional\": true,\n        \"name\": \"dbserver1.airline_logistics.airlines.Value\",\n        \"field\": \"before\"\n      },\n      {\n        \"type\": \"struct\",\n        \"fields\": [\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"code\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"description\"\n          }\n        ],\n        \"optional\": true,\n        \"name\": \"dbserver1.airline_logistics.airlines.Value\",\n        \"field\": \"after\"\n      },\n      {\n        \"type\": \"struct\",\n        \"fields\": [\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"version\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"name\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": false,\n            \"field\": \"server_id\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": false,\n            \"field\": \"ts_sec\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"gtid\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"file\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": false,\n            \"field\": \"pos\"\n          },\n          {\n            \"type\": \"int32\",\n            \"optional\": false,\n            \"field\": \"row\"\n          },\n          {\n            \"type\": \"boolean\",\n            \"optional\": true,\n            \"field\": \"snapshot\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": true,\n            \"field\": \"thread\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"db\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"table\"\n          }\n        ],\n        \"optional\": false,\n        \"name\": \"io.debezium.connector.mysql.Source\",\n        \"field\": \"source\"\n      },\n      {\n        \"type\": \"string\",\n        \"optional\": false,\n        \"field\": \"op\"\n      },\n      {\n        \"type\": \"int64\",\n        \"optional\": true,\n        \"field\": \"ts_ms\"\n      }\n    ],\n    \"optional\": false,\n    \"name\": \"dbserver1.airline_logistics.airlines.Envelope\",\n    \"version\": 1\n  },\n  \"payload\": {\n    \"before\": {\n      \"code\": \"DOL\",\n      \"description\": \"Dolphin Airways Inc.\"\n    },\n    \"after\": null,\n    \"source\": {\n      \"version\": \"2.5.0.Final\",\n      \"name\": \"dbserver1\",\n      \"server_id\": 0,\n      \"ts_sec\": 0,\n      \"gtid\": null,\n      \"file\": \"mysql-bin.000003\",\n      \"pos\": 104,\n      \"row\": 0,\n      \"snapshot\": true,\n      \"thread\": null,\n      \"db\": \"airline_logistics\",\n      \"table\": \"airlines\"\n    },\n    \"op\": \"d\",\n    \"ts_ms\": 1486500577091\n  }\n},\n{\n  \"schema\": {\n    \"type\": \"struct\",\n    \"fields\": [\n      {\n        \"type\": \"struct\",\n        \"fields\": [\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"code\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"description\"\n          }\n        ],\n        \"optional\": true,\n        \"name\": \"dbserver1.airline_logistics.airlines.Value\",\n        \"field\": \"before\"\n      },\n      {\n        \"type\": \"struct\",\n        \"fields\": [\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"code\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"description\"\n          }\n        ],\n        \"optional\": true,\n        \"name\": \"dbserver1.airline_logistics.airlines.Value\",\n        \"field\": \"after\"\n      },\n      {\n        \"type\": \"struct\",\n        \"fields\": [\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"version\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"name\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": false,\n            \"field\": \"server_id\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": false,\n            \"field\": \"ts_sec\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"gtid\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"file\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": false,\n            \"field\": \"pos\"\n          },\n          {\n            \"type\": \"int32\",\n            \"optional\": false,\n            \"field\": \"row\"\n          },\n          {\n            \"type\": \"boolean\",\n            \"optional\": true,\n            \"field\": \"snapshot\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": true,\n            \"field\": \"thread\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"db\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"table\"\n          }\n        ],\n        \"optional\": false,\n        \"name\": \"io.debezium.connector.mysql.Source\",\n        \"field\": \"source\"\n      },\n      {\n        \"type\": \"string\",\n        \"optional\": false,\n        \"field\": \"op\"\n      },\n      {\n        \"type\": \"int64\",\n        \"optional\": true,\n        \"field\": \"ts_ms\"\n      }\n    ],\n    \"optional\": false,\n    \"name\": \"dbserver1.airline_logistics.airlines.Envelope\",\n    \"version\": 1\n  },\n  \"payload\": {\n    \"before\": null,\n    \"after\": {\n      \"code\": \"000\",\n      \"description\": \"FlyByNight\"\n    },\n    \"source\": {\n      \"version\": \"2.5.0.Final\",\n      \"name\": \"dbserver1\",\n      \"server_id\": 0,\n      \"ts_sec\": 0,\n      \"gtid\": null,\n      \"file\": \"mysql-bin.000003\",\n      \"pos\": 154,\n      \"row\": 0,\n      \"snapshot\": true,\n      \"thread\": null,\n      \"db\": \"airline_logistics\",\n      \"table\": \"airlines\"\n    },\n    \"op\": \"c\",\n    \"ts_ms\": 1486500577691\n  }\n}\n]","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"1440 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b6d280ea-6ce8-4f0b-b157-a9a2ec1a3e72"},{"identifier":"48c6ab23-0860-4185-9ef1-becbe67d44e3","instanceIdentifier":null,"name":"ConvertRecord","comments":"","position":{"x":286.0,"y":397.5},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"record-reader":"40fe3d86-d7c3-4ae0-8e21-1f668aaaf246","include-zero-record-flowfiles":"true","record-writer":"55e7921f-aa09-4d4d-91f7-bab89fcb4460"},"propertyDescriptors":{"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b6d280ea-6ce8-4f0b-b157-a9a2ec1a3e72"}],"inputPorts":[],"outputPorts":[{"identifier":"22245019-18fe-47ec-bf7a-abc7378a7d41","instanceIdentifier":null,"name":"GetCDCdata_outputPort","comments":null,"position":{"x":845.0,"y":450.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":null,"componentType":"OUTPUT_PORT","groupIdentifier":"b6d280ea-6ce8-4f0b-b157-a9a2ec1a3e72"}],"connections":[{"identifier":"6299754c-2c0d-4e73-94e7-01d97afb7cec","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"61d3f215-8afc-498a-ae69-7bb484b1d458","type":"PROCESSOR","groupId":"b6d280ea-6ce8-4f0b-b157-a9a2ec1a3e72","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"48c6ab23-0860-4185-9ef1-becbe67d44e3","type":"PROCESSOR","groupId":"b6d280ea-6ce8-4f0b-b157-a9a2ec1a3e72","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b6d280ea-6ce8-4f0b-b157-a9a2ec1a3e72"},{"identifier":"a90246d4-4911-4c4b-9b2d-7beb817ab135","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"48c6ab23-0860-4185-9ef1-becbe67d44e3","type":"PROCESSOR","groupId":"b6d280ea-6ce8-4f0b-b157-a9a2ec1a3e72","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"f530bb82-324b-4a98-867e-c90611109044","type":"PROCESSOR","groupId":"b6d280ea-6ce8-4f0b-b157-a9a2ec1a3e72","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b6d280ea-6ce8-4f0b-b157-a9a2ec1a3e72"},{"identifier":"ad556d4b-5dc6-4b94-8c3d-2386dcef0245","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"f530bb82-324b-4a98-867e-c90611109044","type":"PROCESSOR","groupId":"b6d280ea-6ce8-4f0b-b157-a9a2ec1a3e72","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"22245019-18fe-47ec-bf7a-abc7378a7d41","type":"OUTPUT_PORT","groupId":"b6d280ea-6ce8-4f0b-b157-a9a2ec1a3e72","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b6d280ea-6ce8-4f0b-b157-a9a2ec1a3e72"}],"labels":[{"identifier":"557349f2-6f69-4df2-b803-65f9bb4e65bc","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-400.0,"y":630.5},"label":"Custom\n\n","zIndex":null,"width":280.0,"height":304.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"b6d280ea-6ce8-4f0b-b157-a9a2ec1a3e72"},{"identifier":"f5621739-6757-48d8-9977-e8c6372dca03","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-411.0,"y":-23.5},"label":"GoldenGate\n\n[\n{\n  \"table\": \"ORCL.LOGISTICS_DB.AIRLINES\",\n  \"op_type\": \"U\",\n  \"op_ts\": \"2023-12-11 04:24:34.000327\",\n  \"current_ts\": \"2023-12-11 04:24:39.650000\",\n  \"pos\": \"00000000020000004074\",\n  \"primary_keys\": [\n    \"code\"\n  ],\n  \"tokens\": {\n    \"txid\": \"9.32.6726\",\n    \"csn\": \"13906131\"\n  },\n  \"before\": {\n    \"code\": \"02Q\",\n    \"description\": \"Titan Airways\"\n  },\n  \"after\": {\n    \"code\": \"02Q\",\n    \"description\": \"Adrenaline Airways\"\n  }\n},\n{\n  \"table\": \"ORCL.LOGISTICS_DB.AIRLINES\",\n  \"op_type\": \"D\",\n  \"op_ts\": \"2023-12-11 05:41:34.000327\",\n  \"current_ts\": \"2023-12-11 05:41:39.650000\",\n  \"pos\": \"00000000020000004074\",\n  \"primary_keys\": [\n    \"code\"\n  ],\n  \"tokens\": {\n    \"txid\": \"9.55.6726\",\n    \"csn\": \"13906132\"\n  },\n  \"before\": {\n    \"code\": \"DOL\",\n    \"description\": \"Dolphin Airways Inc.\"\n  },\n  \"after\": null\n},\n{\n  \"table\": \"ORCL.LOGISTICS_DB.AIRLINES\",\n  \"op_type\": \"I\",\n  \"op_ts\": \"2023-12-11 07:56:34.000327\",\n  \"current_ts\": \"2023-12-11 07:56:39.650000\",\n  \"pos\": \"00000000020000004074\",\n  \"primary_keys\": [\n    \"code\"\n  ],\n  \"tokens\": {\n    \"txid\": \"10.32.6726\",\n    \"csn\": \"13906133\"\n  },\n  \"before\": null,\n  \"after\": {\n    \"code\": \"000\",\n    \"description\": \"FlyByNight\"\n  }\n}\n]","zIndex":null,"width":304.0,"height":344.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"b6d280ea-6ce8-4f0b-b157-a9a2ec1a3e72"},{"identifier":"79958db4-a64a-4aa7-bbbf-29db139d916e","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-408.0,"y":333.5},"label":"Debezium\n\n[\n{\n  \"schema\": {\n    \"type\": \"struct\",\n    \"fields\": [\n      {\n        \"type\": \"struct\",\n        \"fields\": [\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"code\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"description\"\n          }\n        ],\n        \"optional\": true,\n        \"name\": \"dbserver1.airline_logistics.airlines.Value\",\n        \"field\": \"before\"\n      },\n      {\n        \"type\": \"struct\",\n        \"fields\": [\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"code\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"description\"\n          }\n        ],\n        \"optional\": true,\n        \"name\": \"dbserver1.airline_logistics.airlines.Value\",\n        \"field\": \"after\"\n      },\n      {\n        \"type\": \"struct\",\n        \"fields\": [\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"version\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"name\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": false,\n            \"field\": \"server_id\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": false,\n            \"field\": \"ts_sec\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"gtid\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"file\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": false,\n            \"field\": \"pos\"\n          },\n          {\n            \"type\": \"int32\",\n            \"optional\": false,\n            \"field\": \"row\"\n          },\n          {\n            \"type\": \"boolean\",\n            \"optional\": true,\n            \"field\": \"snapshot\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": true,\n            \"field\": \"thread\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"db\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"table\"\n          }\n        ],\n        \"optional\": false,\n        \"name\": \"io.debezium.connector.mysql.Source\",\n        \"field\": \"source\"\n      },\n      {\n        \"type\": \"string\",\n        \"optional\": false,\n        \"field\": \"op\"\n      },\n      {\n        \"type\": \"int64\",\n        \"optional\": true,\n        \"field\": \"ts_ms\"\n      }\n    ],\n    \"optional\": false,\n    \"name\": \"dbserver1.airline_logistics.airlines.Envelope\",\n    \"version\": 1\n  },\n  \"payload\": {\n    \"before\": {\n      \"code\": \"02Q\",\n      \"description\": \"Titan Airways\"\n    },\n    \"after\": {\n      \"code\": \"02Q\",\n      \"description\": \"Adrenaline Airways\"\n    },\n    \"source\": {\n      \"version\": \"2.5.0.Final\",\n      \"name\": \"dbserver1\",\n      \"server_id\": 0,\n      \"ts_sec\": 0,\n      \"gtid\": null,\n      \"file\": \"mysql-bin.000003\",\n      \"pos\": 124,\n      \"row\": 0,\n      \"snapshot\": true,\n      \"thread\": null,\n      \"db\": \"airline_logistics\",\n      \"table\": \"airlines\"\n    },\n    \"op\": \"u\",\n    \"ts_ms\": 1486500577291\n  }\n},\n{\n  \"schema\": {\n    \"type\": \"struct\",\n    \"fields\": [\n      {\n        \"type\": \"struct\",\n        \"fields\": [\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"code\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"description\"\n          }\n        ],\n        \"optional\": true,\n        \"name\": \"dbserver1.airline_logistics.airlines.Value\",\n        \"field\": \"before\"\n      },\n      {\n        \"type\": \"struct\",\n        \"fields\": [\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"code\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"description\"\n          }\n        ],\n        \"optional\": true,\n        \"name\": \"dbserver1.airline_logistics.airlines.Value\",\n        \"field\": \"after\"\n      },\n      {\n        \"type\": \"struct\",\n        \"fields\": [\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"version\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"name\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": false,\n            \"field\": \"server_id\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": false,\n            \"field\": \"ts_sec\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"gtid\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"file\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": false,\n            \"field\": \"pos\"\n          },\n          {\n            \"type\": \"int32\",\n            \"optional\": false,\n            \"field\": \"row\"\n          },\n          {\n            \"type\": \"boolean\",\n            \"optional\": true,\n            \"field\": \"snapshot\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": true,\n            \"field\": \"thread\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"db\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"table\"\n          }\n        ],\n        \"optional\": false,\n        \"name\": \"io.debezium.connector.mysql.Source\",\n        \"field\": \"source\"\n      },\n      {\n        \"type\": \"string\",\n        \"optional\": false,\n        \"field\": \"op\"\n      },\n      {\n        \"type\": \"int64\",\n        \"optional\": true,\n        \"field\": \"ts_ms\"\n      }\n    ],\n    \"optional\": false,\n    \"name\": \"dbserver1.airline_logistics.airlines.Envelope\",\n    \"version\": 1\n  },\n  \"payload\": {\n    \"before\": {\n      \"code\": \"DOL\",\n      \"description\": \"Dolphin Airways Inc.\"\n    },\n    \"after\": null,\n    \"source\": {\n      \"version\": \"2.5.0.Final\",\n      \"name\": \"dbserver1\",\n      \"server_id\": 0,\n      \"ts_sec\": 0,\n      \"gtid\": null,\n      \"file\": \"mysql-bin.000003\",\n      \"pos\": 104,\n      \"row\": 0,\n      \"snapshot\": true,\n      \"thread\": null,\n      \"db\": \"airline_logistics\",\n      \"table\": \"airlines\"\n    },\n    \"op\": \"d\",\n    \"ts_ms\": 1486500577091\n  }\n},\n{\n  \"schema\": {\n    \"type\": \"struct\",\n    \"fields\": [\n      {\n        \"type\": \"struct\",\n        \"fields\": [\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"code\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"description\"\n          }\n        ],\n        \"optional\": true,\n        \"name\": \"dbserver1.airline_logistics.airlines.Value\",\n        \"field\": \"before\"\n      },\n      {\n        \"type\": \"struct\",\n        \"fields\": [\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"code\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"description\"\n          }\n        ],\n        \"optional\": true,\n        \"name\": \"dbserver1.airline_logistics.airlines.Value\",\n        \"field\": \"after\"\n      },\n      {\n        \"type\": \"struct\",\n        \"fields\": [\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"version\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"name\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": false,\n            \"field\": \"server_id\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": false,\n            \"field\": \"ts_sec\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"gtid\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": false,\n            \"field\": \"file\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": false,\n            \"field\": \"pos\"\n          },\n          {\n            \"type\": \"int32\",\n            \"optional\": false,\n            \"field\": \"row\"\n          },\n          {\n            \"type\": \"boolean\",\n            \"optional\": true,\n            \"field\": \"snapshot\"\n          },\n          {\n            \"type\": \"int64\",\n            \"optional\": true,\n            \"field\": \"thread\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"db\"\n          },\n          {\n            \"type\": \"string\",\n            \"optional\": true,\n            \"field\": \"table\"\n          }\n        ],\n        \"optional\": false,\n        \"name\": \"io.debezium.connector.mysql.Source\",\n        \"field\": \"source\"\n      },\n      {\n        \"type\": \"string\",\n        \"optional\": false,\n        \"field\": \"op\"\n      },\n      {\n        \"type\": \"int64\",\n        \"optional\": true,\n        \"field\": \"ts_ms\"\n      }\n    ],\n    \"optional\": false,\n    \"name\": \"dbserver1.airline_logistics.airlines.Envelope\",\n    \"version\": 1\n  },\n  \"payload\": {\n    \"before\": null,\n    \"after\": {\n      \"code\": \"000\",\n      \"description\": \"FlyByNight\"\n    },\n    \"source\": {\n      \"version\": \"2.5.0.Final\",\n      \"name\": \"dbserver1\",\n      \"server_id\": 0,\n      \"ts_sec\": 0,\n      \"gtid\": null,\n      \"file\": \"mysql-bin.000003\",\n      \"pos\": 154,\n      \"row\": 0,\n      \"snapshot\": true,\n      \"thread\": null,\n      \"db\": \"airline_logistics\",\n      \"table\": \"airlines\"\n    },\n    \"op\": \"c\",\n    \"ts_ms\": 1486500577691\n  }\n}\n]","zIndex":null,"width":288.0,"height":272.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"b6d280ea-6ce8-4f0b-b157-a9a2ec1a3e72"}],"funnels":[],"controllerServices":[],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"jing-ice-cdc","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":null,"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"7b3d042f-c4a7-4207-bd65-193fab937437"}],"remoteProcessGroups":[],"processors":[{"identifier":"c5cdc2c3-f8d3-4675-82b5-6358fe0f0097","instanceIdentifier":null,"name":"PutIcebergCDC","comments":"","position":{"x":252.20016479492188,"y":491.80584716796875},"type":"com.cloudera.nifi.processors.iceberg.PutIcebergCDC","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-iceberg-nar","version":"1.0.0.2.3.11.0-9"},"properties":{"After Data RecordPath":"/after","maximum-commit-duration":"30 sec","Record Type":"Debezium","maximum-commit-wait-time":"2 sec","catalog-service":"426bac81-a1f3-43c2-b255-5a1b5551ed8d","catalog-namespace":"#{Database}","number-of-commit-retries":"10","Before Data RecordPath":"","Failure Strategy":"route-to-failure","Insert Operation Type":"c","table-name":"#{Table Name}","record-reader":"40fe3d86-d7c3-4ae0-8e21-1f668aaaf246","kerberos-user-service":"c5b393da-c3cc-4358-8549-8e535ca3bf22","Delete Operation Type":"d","minimum-commit-wait-time":"100 ms","Update Operation Type":"u","Operation RecordPath":"/op"},"propertyDescriptors":{"After Data RecordPath":{"name":"After Data RecordPath","displayName":"After Data RecordPath","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"maximum-commit-duration":{"name":"maximum-commit-duration","displayName":"Maximum Commit Duration","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Record Type":{"name":"Record Type","displayName":"Record Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"maximum-commit-wait-time":{"name":"maximum-commit-wait-time","displayName":"Maximum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"file-format":{"name":"file-format","displayName":"File Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"catalog-service":{"name":"catalog-service","displayName":"Catalog Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"catalog-namespace":{"name":"catalog-namespace","displayName":"Catalog Namespace","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Before Data RecordPath":{"name":"Before Data RecordPath","displayName":"Before Data RecordPath","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"maximum-file-size":{"name":"maximum-file-size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"number-of-commit-retries":{"name":"number-of-commit-retries","displayName":"Number of Commit Retries","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Insert Operation Type":{"name":"Insert Operation Type","displayName":"Insert Operation Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"table-name":{"name":"table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Delete Operation Type":{"name":"Delete Operation Type","displayName":"Delete Operation Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"minimum-commit-wait-time":{"name":"minimum-commit-wait-time","displayName":"Minimum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Update Operation Type":{"name":"Update Operation Type","displayName":"Update Operation Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Operation RecordPath":{"name":"Operation RecordPath","displayName":"Operation RecordPath","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7b3d042f-c4a7-4207-bd65-193fab937437"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"3297c65b-eb69-4c36-9fb5-0212da8c6fdd","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"c5cdc2c3-f8d3-4675-82b5-6358fe0f0097","type":"PROCESSOR","groupId":"7b3d042f-c4a7-4207-bd65-193fab937437","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"950a2d23-18ec-407e-b52a-1541379b7fd4","type":"FUNNEL","groupId":"7b3d042f-c4a7-4207-bd65-193fab937437","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b3d042f-c4a7-4207-bd65-193fab937437"},{"identifier":"850e0540-8c9f-497d-a080-e8af5df05526","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"22245019-18fe-47ec-bf7a-abc7378a7d41","type":"OUTPUT_PORT","groupId":"b6d280ea-6ce8-4f0b-b157-a9a2ec1a3e72","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"c5cdc2c3-f8d3-4675-82b5-6358fe0f0097","type":"PROCESSOR","groupId":"7b3d042f-c4a7-4207-bd65-193fab937437","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7b3d042f-c4a7-4207-bd65-193fab937437"}],"labels":[],"funnels":[{"identifier":"950a2d23-18ec-407e-b52a-1541379b7fd4","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":746.0,"y":86.0},"componentType":"FUNNEL","groupIdentifier":"7b3d042f-c4a7-4207-bd65-193fab937437"}],"controllerServices":[{"identifier":"40fe3d86-d7c3-4ae0-8e21-1f668aaaf246","instanceIdentifier":null,"name":"JsonTreeReader","comments":null,"position":null,"type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2.2.3.11.0-9"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"7b3d042f-c4a7-4207-bd65-193fab937437"},{"identifier":"c5b393da-c3cc-4358-8549-8e535ca3bf22","instanceIdentifier":null,"name":"KerberosPasswordUserService","comments":null,"position":null,"type":"org.apache.nifi.kerberos.KerberosPasswordUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-user-service-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"Kerberos Principal":"#{Workload User}","Kerberos Password":"#{Workload Password}"},"propertyDescriptors":{"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2.2.3.11.0-9"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"7b3d042f-c4a7-4207-bd65-193fab937437"},{"identifier":"55e7921f-aa09-4d4d-91f7-bab89fcb4460","instanceIdentifier":null,"name":"JsonRecordSetWriter","comments":null,"position":null,"type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2.2.3.11.0-9"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"7b3d042f-c4a7-4207-bd65-193fab937437"},{"identifier":"426bac81-a1f3-43c2-b255-5a1b5551ed8d","instanceIdentifier":null,"name":"HiveCatalogService","comments":null,"position":null,"type":"org.apache.nifi.services.iceberg.HiveCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"hive-metastore-uri":"#{Hive Metastore URI}","hadoop-config-resources":"#{CDPEnvironment}"},"propertyDescriptors":{"hive-metastore-uri":{"name":"hive-metastore-uri","displayName":"Hive Metastore URI","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"hadoop-config-resources":{"name":"hadoop-config-resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"warehouse-location":{"name":"warehouse-location","displayName":"Default Warehouse Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.services.iceberg.IcebergCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-api-nar","version":"1.23.2.2.3.11.0-9"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"7b3d042f-c4a7-4207-bd65-193fab937437"}],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"jing-ice-cdc","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":null,"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":null},"externalControllerServices":null,"parameterProviders":null,"parameterContexts":{"jing-ice-cdc":{"identifier":"4dfb62dc-9b39-441f-acce-7b73de64924c","instanceIdentifier":null,"name":"jing-ice-cdc","comments":null,"position":null,"parameters":[{"name":"Table Name","description":null,"sensitive":false,"provided":false,"value":"airlines"},{"name":"Workload User","description":null,"sensitive":false,"provided":false,"value":"jingalls"},{"name":"Hive Metastore URI","description":null,"sensitive":false,"provided":false,"value":"thrift://se-aw-mdl-master0.se-sandb.a465-9q4k.cloudera.site:9083,thrift://se-aw-mdl-master1.se-sandb.a465-9q4k.cloudera.site:9083"},{"name":"Database","description":null,"sensitive":false,"provided":false,"value":"jing_airlines"},{"name":"Workload Password","description":null,"sensitive":true,"provided":false,"value":null},{"name":"CDPEnvironment","description":"The CDP Environment configuration resources","sensitive":false,"provided":false,"value":null}],"inheritedParameterContexts":null,"description":null,"parameterProvider":null,"parameterGroupName":null,"synchronized":null,"componentType":"PARAMETER_CONTEXT","groupIdentifier":null}},"flowEncodingVersion":null,"flow":null,"bucket":null}